	body {
  font: 10px sans-serif;
}
  
  .budget
	{
		fill: darkgreen;
	}
	
	.spent
	{
		fill: cornflowerblue;
	}
	
	.overlay {
  /*fill: none;*/
  opacity: 0.5;
  pointer-events: all;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.segment
{
  background-color: red;
  pointer-events: all;
  fill: amediumaquamarine;
}

.availableSegment{
  fill: red;
}

.currentSegment{
  fill: red;

}

.breadcrumb{
    fill: tan;
  outline-color: green;
  outline-width: 5px;
  
}

.breadcrumb.text{
  fill: white;
   stroke-width: 0;
   font-weight:bold;
}

.subproject{
  fill: blue;
  padding: 10px;
  margin: 10px;
}

.project{
  fill: aquamarine;
  padding: 10px;
  margin: 10px;
}


.availableSegment.text.subproject{
  fill: chartreuse;
}

.availableSegment.text{
  fill: white;
   stroke-width: 0;
   font-weight:bold;
}


.currentSegment.text{
  fill: white;
   stroke-width: 0;
   font-weight:bold;
}

.dragTraget{
  stroke: black;
  stroke-width: 3px;
}