body {
    font: 10px sans-serif;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.budget {
    fill: #00a957;
}

.spent {
    fill: #9cd088;
}

.planned{
    fill:#f0f2b8
}

.overlay {
    /*fill: none;*/
    opacity: 0;
    pointer-events: all;
}

.dragMarker {
    stroke: lightyellow;
    stroke-width: 0.5px;
}

text.dragMarker {
    stroke: lightyellow;
}

.segment {
    background-color: red;
    pointer-events: all;
    fill: amediumaquamarine;
    cursor: default;
}

.availableSegment {
    fill: red;
    cursor: default;
}

.currentSegment {
    fill: red;
    cursor: default;
}

.breadcrumb {
    fill: tan;
    outline-color: green;
    outline-width: 5px;
    cursor: default;
}

.breadcrumb.text {
    fill: white;
    stroke-width: 0;
    font-weight: bold;
}



.project {
    fill: #2B5478;
}

.subproject {
    fill: #C3AF4E;
}

.location {
    fill: #4B2252;
}

.chapter {
    fill: #AC1616;
}

.subchapter {
    fill: #C53131;
}

.boqItem {
    fill: #52524F;
}

.item {
    fill: #c649c3;
}

.account {
    fill: blue;
}

.budgetGroup {
    fill: #307330;
}

.budgetItem {
    fill: #637332;
}

.availableSegment.text {
    fill: white;
    stroke-width: 0;
    font-weight: bold;
}

.currentSegment.text {
    fill: white;
    stroke-width: 0;
    font-weight: bold;
}

.dragTraget {
    stroke: tan;
    stroke-width: 2px;
}

.dragSourceOver{
    stroke: #573508;
}
